.img-1{
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(247, 42, 42, 0.3);
}

.box, .countInfo, .addData{
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(247, 42, 42, 0.3);
}

.fig{
    font-size: 20px;
    }
